* {
  box-sizing: border-box;
}

nav ul li {
  display: inline;
}

h1 {
  color: red;
  font-size: 32px;
  font-weight: 400;
  _margin-top: 0;
  _margin-bottom: 10px;
  _margin: 0 10px 10px 0;
  _margin: 25px 10px;
  margin-inline: 30px 50px; /* margin-left, margin-right */
  margin-block: 50px 45px; /* margin-top, margin-bottom */
}

/*
  selector{
      eigenschaft: wert;
  }
  */

.logo {
  background-color: red;
  width: 10%;
  aspect-ratio: 16 / 9;
}

.box {
  background-color: red;
  width: 150px;
  aspect-ratio: 1 / 1;
}

.content-box {
  _box-sizing: content-box;
  padding: 50px;
  _margin-inline: 0 30px;
  margin-block: 0 35px;
  border: 5px solid green;
}

.border-box {
  box-sizing: border-box;
  padding: 50px;
  border: 5px solid green;
}

.text {
  color: darkgrey;
}

main p {
  color: black;
}

p {
  color: darkblue;
}

p::before {
  content: "1. ";
  background-color: black;
  color: white;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
}

p::after {
  content: " !";
}

input {
  margin-block: 5px;
}

#check {
  all: unset;
}

#check:focus {
  _outline: 2px solid purple;
}

#check:checked + label {
  color: red;
}

#check:checked + label > .checkbox {
  background-color: green;
}

#check:checked + label > .checkbox {
  outline: 2px dotted green;
}

#check:checked ~ p::before {
  background-color: red;
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: 2px solid black;
  border: 2px solid white;
}

button:focus {
  outline: 2px dotted red;
}

div.texte {
  background-color: lightgrey;
  width: 200px;
  margin-inline: auto;
}
span.texte {
  background-color: lightblue;
  display: block;
}

p.texte {
  color: darkblue;
}

p.texte::before {
  content: none;
}

p.texte::after {
  content: none;
}

.inner-text {
  background-color: transparent;
  color: inherit;
}

p.texte a {
  color: inherit;
  text-decoration-color: dodgerblue;
}

p.texte a:hover {
  color: dodgerblue;
  text-decoration: none;
}
